In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
combats_expanded = pd.read_csv('combats_expanded.csv')
pokemon_clean = pd.read_csv('pokemon_clean.csv')
tests = pd.read_csv('tests.csv')


pokemon_clean.head()

,Unnamed: 0,Index,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Legendary,Win Num,Match Num,Win Ratio,Has 2 Types,normal_stats,special_stats,total_stats,Sum of Attack,Sum of Defense
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,...,False,37.0,133,0.278195,True,188,130,318,114,114
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,...,False,46.0,121,0.380165,True,245,160,405,142,143
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,...,False,89.0,132,0.674242,True,325,200,525,182,183
3,3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,...,False,70.0,125,0.560000,True,383,242,625,222,243
4,4,5,Charmander,Fire,NaN,39,52,43,60,50,...,False,55.0,112,0.491071,False,199,110,309,112,93

In [3]:
# Add whether First or Second Pokémon is Legendary
combats_expanded['Legendary Winner'] = combats_expanded['Winner'].map(pokemon_clean.set_index('Index')['Legendary'])
combats_expanded['Legendary Loser'] = combats_expanded['Loser'].map(pokemon_clean.set_index('Index')['Legendary'])

combats_expanded.head()

,Unnamed: 0,First_pokemon,Second_pokemon,Winner,Has First Won,Loser,Type 1 Winner,Type 2 Winner,Type 1 Loser,Type 2 Loser,...,Attack_diff,Sp. Atk_diff,Speed_diff,Defense_diff,Sp. Def_diff,HP_diff,Sum of Attack_diff,Sum of Defense_diff,Legendary Winner,Legendary Loser
0,0,266,298,298,False,266,Grass,Dark,Rock,Ground,...,6,15,19,-10,-10,20,21,-20,False,False
1,1,702,701,701,False,702,Rock,Fighting,Grass,Fighting,...,39,-18,0,18,-39,0,21,-21,True,True
2,2,191,668,668,False,191,Psychic,NaN,Fairy,Flying,...,35,45,0,-10,-10,20,80,-20,False,False
3,3,237,683,683,False,237,Dragon,NaN,Fire,NaN,...,80,-10,28,50,50,37,70,100,False,False
4,4,151,231,151,True,231,Rock,Water,Bug,Rock,...,50,105,50,-105,-160,50,155,-265,False,False

In [4]:
# Drop unnecessary columns
combats_expanded = combats_expanded.drop(columns=['Unnamed: 0'])
combats_expanded.head()

,First_pokemon,Second_pokemon,Winner,Has First Won,Loser,Type 1 Winner,Type 2 Winner,Type 1 Loser,Type 2 Loser,total_stats_diff,Attack_diff,Sp. Atk_diff,Speed_diff,Defense_diff,Sp. Def_diff,HP_diff,Sum of Attack_diff,Sum of Defense_diff,Legendary Winner,Legendary Loser
0,266,298,298,False,266,Grass,Dark,Rock,Ground,40,6,15,19,-10,-10,20,21,-20,False,False
1,702,701,701,False,702,Rock,Fighting,Grass,Fighting,0,39,-18,0,18,-39,0,21,-21,True,True
2,191,668,668,False,191,Psychic,NaN,Fairy,Flying,80,35,45,0,-10,-10,20,80,-20,False,False
3,237,683,683,False,237,Dragon,NaN,Fire,NaN,235,80,-10,28,50,50,37,70,100,False,False
4,151,231,151,True,231,Rock,Water,Bug,Rock,-10,50,105,50,-105,-160,50,155,-265,False,False

In [5]:
combats_decision_tree = combats_expanded[['First_pokemon','Second_pokemon','Has First Won']]
combats_decision_tree['First_pokemon_legendary'] = combats_decision_tree['First_pokemon'].map(pokemon_clean.set_index('Index')['Legendary'])
combats_decision_tree['Second_pokemon_legendary'] = combats_decision_tree['Second_pokemon'].map(pokemon_clean.set_index('Index')['Legendary'])

# Creating feature columns for combats

columns_to_difference = ['total_stats', 'Speed', 'HP', 'Sum of Attack', 'Sum of Defense']
for column in columns_to_difference:
    combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])

combats_decision_tree.head()

C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree['First_pokemon_legendary'] = combats_decision_tree['First_pokemon'].map(pokemon_clean.set_index('Index')['Legendary'])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree['Second_pokemon_legendary'] = combats_decision_tree['Second_pokemon'].map(pokemon_clean.set_index('Index')['Legendary'])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\3703714410.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column + '_diff'] = combats_expanded['First_pokemon'].map(pokemon_clean.set_index('Index')[column]) - combats_expanded['Second_pokemon'].map(pokemon_clean.set_index('Index')[column])

,First_pokemon,Second_pokemon,Has First Won,First_pokemon_legendary,Second_pokemon_legendary,total_stats_diff,Speed_diff,HP_diff,Sum of Attack_diff,Sum of Defense_diff
0,266,298,False,False,False,-40,-19,-20,-21,20
1,702,701,False,True,True,0,0,0,-21,21
2,191,668,False,False,False,-80,0,-20,-80,20
3,237,683,False,False,False,-235,-28,-37,-70,-100
4,151,231,True,False,False,-10,50,50,155,-265

In [6]:
columns_to_int = ['First_pokemon_legendary', 'Second_pokemon_legendary', 'Has First Won']
for column in columns_to_int:
    combats_decision_tree[column] = combats_decision_tree[column].astype(int)

combats_decision_tree.head()

C:\Users\magda\AppData\Local\Temp\ipykernel_11940\2854619816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column] = combats_decision_tree[column].astype(int)
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\2854619816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column] = combats_decision_tree[column].astype(int)
C:\Users\magda\AppData\Local\Temp\ipykernel_11940\2854619816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combats_decision_tree[column] = combats_decision_tree[column].astype(int)

,First_pokemon,Second_pokemon,Has First Won,First_pokemon_legendary,Second_pokemon_legendary,total_stats_diff,Speed_diff,HP_diff,Sum of Attack_diff,Sum of Defense_diff
0,266,298,0,0,0,-40,-19,-20,-21,20
1,702,701,0,1,1,0,0,0,-21,21
2,191,668,0,0,0,-80,0,-20,-80,20
3,237,683,0,0,0,-235,-28,-37,-70,-100
4,151,231,1,0,0,-10,50,50,155,-265

Stats differences are defined as first minus second, because the evaluation comes down to whether the first pokemon has won

In [7]:
X = combats_decision_tree[['First_pokemon_legendary', 'Second_pokemon_legendary', 'total_stats_diff', 'Speed_diff', 'HP_diff', 'Sum of Attack_diff', 'Sum of Defense_diff']]
y = combats_decision_tree['Has First Won']

Firstly, let's try with the simplest decision tree

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=1)

# Instantiate dt
dt = DecisionTreeClassifier(random_state=1)

# Fit dt to the training set
dt.fit(X_train, y_train)

# Predict the test set labels
y_pred = dt.predict(X_test)

# Evaluate the test-set accuracy
accuracy_score(y_test, y_pred)

0.9004

In [11]:
from sklearn.model_selection import cross_val_score

cv_score = cross_val_score(dt, X_train, y_train, cv=10, n_jobs = -1)

y_predict_train = dt.predict(X_train)

print('CV mean: ', cv_score.mean())
print('CV std: ', cv_score.std())

CV mean:  0.9058249999999999
CV std:  0.005007556789493247

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.ensemble import VotingClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 1)

lr = LogisticRegression(random_state=1)
knn = KNN()
dt = DecisionTreeClassifier(random_state=1)

# List of classifiers that contains the tuples
classifiers = [('Logistic Regression', lr),
              ('K Nearest Neighbours', knn),
              ('Classification Tree', dt)]

# Iterate over classifiers
for clf_name, clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('{:s} : : {:.3f}'.format(clf_name, accuracy_score(y_test, y_pred)))

vc = VotingClassifier(estimators=classifiers)

vc.fit(X_train, y_train)
y_pred = vc.predict(X_test)

print('Voting Classifier: {:.3f}'.format(accuracy_score(y_test, y_pred)))

Logistic Regression : : 0.896
K Nearest Neighbours : : 0.906
Classification Tree : : 0.904
Voting Classifier: 0.923